@font-face {
    font-family: 'gtsectradisplay-regular';
    src: url('../../assets/fonts/gt-sectra-display-regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/gt-sectra-display-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
