html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #29296D;
  background-color: #29296D;
  padding: 1rem;
  min-width: 375px;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}
