@define-mixin atSmall {
  @media (min-width: 768px) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width: 992px) {
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media (min-width: 1200px) {
    @mixin-content;
  }
}

@define-mixin atExtraLarge {
  @media (min-width: 1800px) {
    @mixin-content;
  }
}

@define-mixin tillDesktop {
  @media only screen and (max-device-width: 1024px) {
    @mixin-content;
  }
}

@define-mixin iPhone5Landscape {
  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
      @mixin-content;
    }
}
@define-mixin iPhone6Landscape {
  @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
      @mixin-content;
    }
}

@define-mixin iPhone6PlusLandscape {
  @media only screen
    and (min-device-width: 414px)
    and (max-device-width: 736px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
      @mixin-content;
    }
}

@define-mixin clearfix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}
