.features {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__item {
    position: relative;
    height: 10rem;
    width: 10rem;
    text-align: center;
    margin: 0 3rem;
    border: 2px solid #22D9A1;
    color: #22D9A1;
  }

  &__text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__numbers {
    font-size: 3rem;
    font-family: serif;
  }

  &__units {
    text-transform: uppercase;
    font-weight: 500;
  }

}
