.features {
  text-align: center;
  /*position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;*/

  &__item {
    position: relative;
    display: inline-block;
    height: 8rem;
    width: 8rem;
    text-align: center;
    margin: 0 .5rem 1rem;
    border: 3px solid #22D9A1;
    color: #22D9A1;

    @mixin atSmall {
      height: 10rem;
      width: 10rem;
      margin: 0 2rem 2rem;
    }

    @mixin atMedium {
      margin-bottom: 0;

    }
    /*flex: 1;
    flex-basis: 50%;

    @mixin atSmall {
      margin: 0 2rem;
      flex-basis: 25%;
    }*/

  }

  &__text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__numbers {
    font-size: 3rem;
    font-family: serif;
  }

  &__units {
    text-transform: uppercase;
    font-weight: 500;
  }

}
