.headline {
  font-weight: 300;
  font-family: serif;
  font-size: 2.8rem;
  margin: 0 0 .5em;
  letter-spacing: 1px;

  @mixin atSmall {
    font-size: 3rem;
  }

  &--small {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.125rem;
    font-family: 'Montserrat', sans-serif;
  }

  &--centered {
    text-align: center;
  }

  &--has-t-margin {
    margin-top: 1.5em;

    @mixin atSmall {
      margin-top: 3em;
    }
  }

  &--has-t-padding-until-medium {
    padding-top: 1em;

    @mixin atMedium {
      padding-top: 0;
    }

  }

  &--absolute-position-until-medium {
    position: absolute;
    top: -80px;
    width: 100%;
    text-align: center;

    @mixin atMedium {
      position: static;
      top: auto;
      text-align: left;
    }
  }
}
