.large-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../../assets/images/hero--large.jpg") center center no-repeat;
  background-size: cover;

  &:after {
    content: '';
    position: absolute;;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: inline-block;
    background-color: $mainBlue;
    opacity: .4;
  }

  &__text-content {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 54%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);

    @mixin atSmall {
      top: 49%;
    }

    @mixin atLarge {
      top: 52%;
    }
  }

  &__logo {
    display: block;
    margin: 0 auto;

    @mixin atSmall {
      width: 70%;
    }

    @mixin atLarge {
      width: 45%;
    }

    @mixin atExtraLarge {
      width: 60%;
    }
  }

  &__scroll {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 1;
  }

  &__scroll-tip {
    color: #fff;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

}
