.location {
  position: relative;
  min-height: 25rem;
  background: url("../../assets/images/google-map.jpg") center center no-repeat;
  background-size: auto;

  @mixin atMedium {
    background-size: cover;
  }

  &__pin {
    position: absolute;
    background: $mainBlue;
    bottom: 30%;
    left: 65%;
    padding: .25rem .12rem;

    @mixin atSmall {
      left: 57.5%;
    }

    @mixin atMedium {
      left: 46.5%
    }

    @mixin atLarge {
      left: 48%;
      bottom: 51%;
    }

    &:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 30px 7px 0 7px;
      border-color: $mainBlue transparent transparent transparent;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__title {
    color: #23DCA3;
    margin: 0 auto .5em;
    text-align: center;
    font-size: .8rem;
    max-width: 4.25rem;
    text-transform: uppercase;
  }

  &__subtitle {
    color: #23DCA3;
    font-family: serif;
    margin: 0 auto;
    max-width: 4.5rem;
    text-align: center;
    font-size: .4rem;
    text-transform: uppercase;
  }
}
