.page-section {
  padding: 4.8rem 0;
  position: relative;
  outline: none;

  &--wide {
    padding: 0;
    @mixin atSmall {
      padding: 9.6rem 0;
    }
  }

  &--has-no-padding-until-small {
    padding: 0;

    @mixin atSmall {
      padding: 4.8rem 0;
    }
  }

  &--has-double-t-padding-until-large {

    @mixin atSmall {
      padding-top: 9.6rem;
    }
  }

  &--with-less-b-padding {
    padding: 9.6rem 0 4.8rem;
  }

  &--white {
    background-color: #fff;
  }

  &--lightgreen {
    background-color: #E0FAF1;
  }

  &--has-t-padding-until-medium {
    padding-top: 150px;

    @mixin atMedium {
      padding-top: 4.5rem;
    }
  }
}
