.page-section {
  padding: 2.4rem 0;
  position: relative;

  @mixin atMedium {
    padding: 4.5rem 0;
  }

  &--white {
    background-color: #fff;
  }

  &--lightgreen {
    background-color: #E0FAF1;
  }

  &--has-t-padding-until-medium {
    padding-top: 100px;

    @mixin atMedium {
      padding-top: 4.5rem;
    }
  }
}
