.paragraph {

  font-size: .75rem;

  @mixin atMedium {
    font-size: 1rem;
  }

  &--centered {
    text-align: center;
  }

  &--narrow {
    max-width: 19rem;
    margin: 0 auto;

    @mixin atSmall {
      max-width: 36rem;
    }

    @mixin atMedium {
      max-width: 40.75rem;
    }
  }

  &--extra-narrow {

    @mixin atSmall {
      max-width: 15rem;
      margin: 0 auto;
    }

    @mixin atLarge {
      max-width: 25rem;
    }

  }

  &--has-b-margin {
    margin-bottom: 4rem;

    @mixin atSmall {
      margin-bottom: 4rem;
    }
  }

  &--has-b-margin-small {
    margin-bottom: 2rem;
  }

  &--has-t-margin-until-medium {
    margin-top: 2em;

    @mixin atMedium {
      margin-top: 1em;
    }
  }
}
