.primary-nav {
  text-align: center;
  padding: 1rem;
  display: none;

  @mixin atLarge {
    display: block;
  }

  &--pull-right {

    @mixin atLarge {
      /*display: block;*/
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    display: block;
    margin-bottom: 1rem;

    @mixin atMedium {
      display: inline-block;
      margin-bottom: 0;
    }
  }

  li:last-child {
    a {
      font-weight: 400;
    }
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: .9375rem;
    padding: .6rem;
    font-weight: 500;
  }

}
