.row {

  @mixin clearfix;

  @mixin atMedium {

    &__medium-6 {
      float: left;
      width: 50%;
    }

    &--l-padding-small {
      padding-left: 65px;
    }

    &--r-padding-small {
      padding-right: 65px;
    }

  }

}
