.row {
  position: relative;

  @mixin clearfix;

  &--b-margin {
    margin-bottom: 3.875rem;
  }

  &--has-negative-scale-until-medium {
    transform: scaleY(-1);
  }

  &--centered-until-medium {
    text-align: center
  }

  &--has-bg-image {
    min-height: 400px;
    background: url("../../assets/images/floorplans.png") 100% 50% no-repeat;
    background-size: cover;

    @mixin atSmall {
      min-height: 600px;
      background-position: 85% 50%;
    }
  }

  @mixin atSmall {

    &__small-6 {
      float: left;
      width: 50%;
    }
  }

  @mixin atMedium {

    &__medium-6 {
      float: left;
      width: 50%;
    }

    &--has-negative-scale-until-medium {
      transform: scaleY(1);
    }


    &--l-padding-small {
      padding-left: 100px;
    }

    &--r-padding-small {
      padding-right: 100px;
    }

    &--centered-until-medium {
      text-align: left;
    }
  }

  @mixin atLarge {

    &__large-8 {
      float: left;
      width: 66.66%;
    }

    &__large-4 {
      width: 33.33%;
      float: left;
    }
  }

}
