.row {
  position: relative;

  @mixin clearfix;

  &--b-margin {
    margin-bottom: 3.875rem;
  }

  &--has-negative-scale-until-medium {
    transform: scaleY(-1);
  }

  &--centered-until-medium {
    text-align: center
  }

  @mixin atSmall {

    &__small-6 {
      float: left;
      width: 50%;
    }
  }

  @mixin atMedium {

    &__medium-6 {
      float: left;
      width: 50%;
    }

    &--has-negative-scale-until-medium {
      transform: scaleY(1);
    }


    &--l-padding-small {
      padding-left: 100px;
    }

    &--r-padding-small {
      padding-right: 100px;
    }

    &--centered-until-medium {
      text-align: left;
    }
  }

}
