.site-footer {
  color: #fff;

  &__section {
    display: block;
    text-align: center;
    margin-bottom: 2rem;

    @mixin atSmall {
      display: inline-block;
      text-align: left;
      width: 32.5%;
    }

    @mixin atLarge {
      width: 24.5%;
      margin-bottom: 0;
    }

  }

  &__section:nth-child(odd) {

    @mixin atMedium {
      padding-left: 2rem;
    }
  }

  &__section:nth-child(3) {

    @mixin atSmall {
      padding-left: 2rem;
    }
  }

  &--has-full-width-until-large {
    width: 100%;
    @mixin atLarge {
      width: 24%;
    }
  }

  &--has-b-margin-until-medium {
    margin-bottom: 2.5rem;

    @mixin atMedium {
      margin-bottom: 0;
    }
  }

  &__headline {
    font-size: 0.875rem;
    text-transform: uppercase;
    margin: 0;
  }

  &__info {
    font-size: .75rem;

    @mixin atMedium {
      font-size: .875rem;
    }
  }

  &__logo {
    width: 120px;
    margin: 0 auto;
    display: block;
  }


}
