.site-footer {
  color: #fff;

  &__section {
    display: block;
    text-align: center;
    margin-bottom: 2rem;

    @mixin atMedium {
      display: inline-block;
      text-align: left;
      width: 32.5%;
    }

    @mixin atLarge {
      width: 24.5%;
      margin-bottom: 0;
    }

  }

  &--has-full-width-until-large {
    width: 100%;
    @mixin atLarge {
      width: 24%;
    }
  }

  &--has-b-margin-until-medium {
    margin-bottom: 2.5rem;

    @mixin atMedium {
      margin-bottom: 0;
    }
  }

  &__headline {
    font-size: 0.875rem;
    text-transform: uppercase;
    margin: 0;
  }

  &__info {
    font-size: .875rem;
  }

  &__title {
    margin: 0 auto .5em;
    font-size: 1.375rem;
    max-width: 8.25rem;
    text-transform: uppercase;
    letter-spacing: 0.375rem;
  }

  &__subtitle {
    font-family: serif;
    margin: 0 auto;
    max-width: 9.5rem;
    text-align: center;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 0.3125rem;
  }


}
