.svg-graphic {
  position: absolute;
  z-index: 2;
  display: none;

  @mixin atSmall {
    display: block;
    transform: scale(.6);

    &__large-hero-green-x {
      top: 15%;
      left: 8%;
    }

    &__large-hero-green-waves {
      right: 8%;
      top: 20%;
    }

    &__large-hero-red-arc,
    &__large-hero-red-romb,
    &__large-hero-green-stripes,
    &__project-red-x,
    &__project-green-waves,
    &__features-red-romb,
    &__features-green-circle,
    &__features-red-arc,
    &__location-green-stripes,
    &__floorplans-green-stripes,
    &__floorplans-green-circle,
    &__floorplans-red-romb,
    &__gallery-green-waves,
    &__gallery-red-x,
    &__gallery-green-circle,
    &__architect-green-x,
    &__architect-green-stripes,
    &__contact-green-circle,
    &__contact-green-waves,
    &__contact-red-x,
    &__contact-red-arc {
      display: none;
    }

    &__large-hero-red-x {
      right: 4%;
      bottom: 10%;
    }

    &__large-hero-green-circle {
      top: 56%;
      right: 15%;
    }

    &__project-green-circle {
      right: -34px;
      bottom: 22%;
    }

    &__project-green-stripes {
      transform: rotateY(180deg) scale(.6);
      bottom: -42px;
      left: 10%;
    }

    &__project-red-romb {
      left: -37px;
      top: 25%;
    }

    &__features-green-x {
      right: -40px;
      bottom: 31%;
    }

    &__location-green-circle {
      top: 4%;
      left: 10%;
    }

    &__location-red-romb {
      right: 4%;
      top: 2%;
    }

    &__location-green-x {
      right: -40px;
      top: 38%;
    }

    &__location-green-waves {
      left: -26px;
      bottom: 45.5%;
    }

    &__location-red-x {
      right: 30px;
      bottom: 9.8%;
    }

    &__floorplans-red-arc {
      transform: rotateX(180deg) scale(.6);
      left: -27px;
      top: 35%;
    }

    &__gallery-red-circle {
      top: 35%;
      right: 12%;
    }

    &__gallery-green-stripes {
      left: -27px;
      bottom: 0;
    }

    &__architect-green-romb {
      right: -37px;
      top: 25%;
    }

    &__architect-red-x {
      left: 10%;
      bottom: 14%;
    }

    &__architect-red-waves {
      right: -30px;
      bottom: 10%;
    }

    &__architect-logo {
      left: 50%;
      transform: translateX(-50%) scale(.6);
    }
  }

  @mixin atMedium {
    display: block;
    transform: scale(.8);

    &__large-hero-green-x {
      top: 18%;
      left: -23px;
    }

    &__large-hero-green-waves {
      right: 9%;
      top: 30%;
    }

    &__large-hero-red-arc {
      bottom: 30px;
      left: 30px;
    }

    &__large-hero-green-stripes {
      bottom: 10%;
      left: 25.5%;
    }

    &__large-hero-green-circle {
      top: auto;
      bottom: -23px;
      right: 280px;
      clip:rect(0px,46px,23px,0px);
    }

    &__large-hero-red-romb {
      right: -38px;
      bottom: 22%;
    }

    &__large-hero-red-x,
    &__project-red-romb,
    &__project-green-stripes,
    &__project-green-circle,
    &__features-green-x,
    &__features-red-arc,
    &__location-green-circle,
    &__location-red-x,
    &__gallery-red-circle,
    &__gallery-green-stripes,
    &__gallery-green-waves,
    &__architect-red-x,
    &__contact-red-arc {
      display: none;
    }

    &__project-red-x {
      right: -23px;
      bottom: 25%;
    }

    &__project-green-waves {
      left: 55px;
      bottom: 80px;
    }

    &__features-red-romb {
      left: -36px;
      top: 70px;
    }

    &__features-green-circle {
      bottom: -23px;
      left: 330px;
    }

    &__features-red-arc {
      transform: rotateY(180deg) scale(.8);
      right: 30px;
      bottom: -30px;
    }

    &__location-green-stripes {
      transform: rotateY(180deg) scale(.8);
      top: 223px;
      left: 58px;
    }

    &__location-green-x {
      right: 18px;
      top: 185px;
    }

    &__location-red-romb {
      left: 50%;
      top: 59%;
      transform: translate(-38px, -38px) scale(.8);
    }

    &__floorplans-green-stripes {
      top: 42%;
      left: 10%;
    }

    &__floorplans-red-arc {
      top: -31px;
      left: 23%;
      transform: rotateY(180deg) scale(.8);
    }

    &__floorplans-green-circle {
      right: -39px;
      top: 35%;
    }

    &__floorplans-red-romb {
      bottom: -38px;
      left: 50%;
      transform: translateX(-50%) scale(.8);
    }

    &__gallery-red-x {
      right: -23px;
      bottom: 15%;
    }

    &__gallery-green-circle {
      left: 35%;
      bottom: 6%;
    }

    &__architect-green-x {
      top: 130px;
      left: -23px;
    }

    &__architect-red-waves {
      top: 10%;
      right: 5%;
    }

    &__architect-green-stripes {
      bottom: -20px;
      left: 23%;
    }

    &__acrhitect-green-romb {
      right: -37px;
      bottom: 15%;
    }

    &__architect-logo {
      left: 50%;
      bottom: -80px;
      transform: translateX(-50%) scale(.8);
    }

    &__contact-green-circle {
      top: 10%;
      right: 15%;
    }

    &__contact-green-waves {
      left: 5%;
      bottom: 45%;
    }

    &__contact-red-x {
      bottom: 13%;
      right: 5%;
    }

    &__contact-red-arc {
      left: 0;
      top: 8%;
      transform: rotateX(180deg) scale(.8);
    }
  }

  @mixin atLarge {
    display: block;

    &__large-hero-red-x,
    &__project-green-circle,
    &__project-red-romb,
    &__project-green-stripes,
    &__features-green-x,
    &__location-green-circle,
    &__location-red-x,
    &__gallery-red-circle,
    &__gallery-green-stripes,
    &__architect-red-x,
    &__location-green-waves {
      display: none;
    }

    &__large-hero-green-x {
      left: -27px;
    }

    &__features-red-romb {
      left: -42px;
    }

    &__location-green-stripes {
      top: 316px;
      left: 33px;
    }

    &__location-green-x {
      right: 7%;
      top: 20%;
    }

    &__floorplans-red-romb {
      left: 50%;
    }

    &__gallery-green-waves {
      top: 5.5%;
      left: 7.5%;
    }

    &__gallery-green-circle {
      bottom: 2%;
    }

    &__contact-red-arc {
      left: -9px;
    }

    &__contact-green-circle {
      top: 20%;
    }

    &__contact-red-x {
      bottom: 20%;
    }

    &__architect-green-romb {
      top: 50%;
      right: -37px;
    }

  }

  @mixin atExtraLarge {
    transform: scale(1);

    &__gallery-green-stripes {
      display: block;
    }
  }
}
