.top-nav {
  position: absolute;
  top: 2rem;
  width: 100%;
  text-align: center;
  z-index: 1;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    display: none;

    @mixin atMedium {
      display: inline-block;
    }
  }

  li:last-child {
    display: inline-block;

    a {
      font-weight: 400;
    }

  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: .9375rem;
    padding: .6rem 1.2rem;
    font-weight: 500;
  }
}
