.wrapper {
  padding: 0 18px;
  max-width: 1236px;
  margin: 0 auto;

  &--medium {
    max-width: 976px;
  }

  &--narrow {
    max-width: 470px;
  }

  &--has-double-padding-until-small {
    padding: 0 36px;

    @mixin atSmall {
      padding: 0 18px;
    }
  }

  &--narrow-until-medium {
    padding: 0 9.9rem;

    @mixin atMedium {
      padding: 0 3.385rem;
    }
  }

  &--no-padding-until-small {
    padding: 0;

    @mixin atSmall {
      padding: 0 18px;
    }
  }

  &--no-padding-until-medium {
    padding: 0;

    @mixin atMedium {
      padding: 0 3.375rem;
    }
  }

  &--has-4x-padding-until-medium {
    @mixin atSmall {
      padding: 0 72px;
    }
  }

  &--has-10x-padding-until-medium {

    @mixin atSmall {
      padding: 0 180px;
    }

    @mixin atMedium {
      padding: 0 18px;
    }
  }

  &--has-double-padding-until-large {

    @mixin atMedium {
      padding: 0 36px
    }

    @mixin atLarge {
      padding: 0 18px;
    }
  }

  @mixin atLarge {
    max-width: 1200px;
  }
}
